/* Color Palette */
/* color {
    color: #020659;
    color: #020873;
    color: #030abc;
    color: #0d8dfb;
    color: #2104D9;
    color: #2699FB;
    color: #590242;
} */
* {
    box-sizing: border-box;
    margin: 0;
}
html{
    background-color: #020659; 
    margin: auto 10% ;
}
body {
    
    margin:0 auto;
    background-color: white;
    color: #590242;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
main{
    display: block;
}
header {
    background-color: #020873;
    color: white;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li  {
    display: grid;   
}
.smoothJazz{
    margin: auto;
    background-image: linear-gradient(to right, #2104D9, #020659); 
    color: #ffffff;
}
h3 {
    width: 100%;
    background-color: white;
    color: #590242;
    display: inline-block;
}
/* Trending */
#trending {
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
}
#aloma, #myRoad, #Papaya, #smoothies, #sucPreform {
    margin: 10px;
    padding: 1fr;
}
/* Your Playlists */
#playlists{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    justify-content: space-around;
    background-color: #0d8dfb;
}
#best2020, #pumpSpice, #quietStorm, #smoothJazz, #smoothStudy {
    margin: 30px;
    background-color: #2699fb;
}


/* Curated */

#curated {
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    background-color: #030abc;
    color: white;
}
#boozyBrunch, #dinnerParty, #mellow, #jazzChill, #jazzSax {
    margin: 10px;
    background-color: #020873;
}

/* footer */
footer{
    background-color: white;
    color: #590242;
}
/* Provided Code */
/* ul {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

@media screen and (min-width:834px) {
    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    label span, input {
        display: none;
    }
} */